<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="
        script-src 'self' 'unsafe-inline' 'unsafe-eval' blob:;
        worker-src 'self' blob:;
        connect-src 'self' blob: data: file: local-file:;
        img-src 'self' blob: data: file: local-file:;
        object-src 'none';
        base-uri 'self';
        form-action 'self';
      "
    />
    <title>THEiTeams</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
